{% extends "layout.html" %}
{% block body %}
<!--<div class="navbar navbar-fixed-top" role="navigation">-->
    <div class="navbar">
      <div class="container">
{% if sign_in %}
{% else %}

        <form id="logout" action="/" method=post>
            <input type="hidden" name="logout" value="logout">
            <span class="navbar-form navbar-right">Hello {{ user_name }}. <a href="#" onclick="$(this).closest('form').submit()">Logout</a></span>
        </form>
{% endif %}
      </div>
      </div>

    <div class="introduction text-center"style="text-align:center">
      <div class="container-fluid">
        <h1>RDIO TOP TEN</h1>
        <p>Create playlists of top tracks by play count</p>
{% if sign_in %}
<div class="row">
<div class="col-sm-3">
</div>
<div class="col-sm-6">
          <p class="description">Rdio artist pages list top tracks, but each song must be started separately.
This page creates a playlist of those tracks allowing you to listen to them all without having to click play for each track.
<br>I use this when discovering new artists.
</p>
</div>
<div class="col-sm-3">
</div>
</div>
          <form role="form" action="/" method="post">

            <button type="submit" class="btn btn-success" name="signin">CONNECT TO RDIO TO SEARCH</button>
          </form>
</div>
</div>

{% else %}
<form action="/" method="post">
<input class="searchbox" type=text size=25 name=artistname placeholder="FIND AN ARTIST">
<p>
<button class="btn btn-primary btn-lg searchbutton" type="submit" value="Search">Search</button>
</p>
</form>
</div>
</div>

    <div class="container">

      <div class="row">

        <div class="col-sm-12 text-center">
<form action="/" method="post" name="create">
{% for artist in artists[:1] %}
          <h4 class="best">Best Result</h4>
<a href="{{ artist.url }}">{{ artist.name }}</a><button class="btn btn-sm createbutton" type=submit value="{{ artist.key }}" name="create playlist">Create Playlist</button><br>
{% endfor %}
            {% if artists %}
            <hr style="width:100px;">
          <h4 class="others">Other Matches</h4>
            {% endif %}
{% for artist in artists[1:] %}
<a href="{{ artist.url }}">{{ artist.name }}</a><button class="btn btn-sm createbutton" type=submit value="{{ artist.key }}" name="create playlist">Create Playlist</button><br>
{% endfor %}

</form>
        </div>

      </div>
</div>
{% endif %}
<div class="container">
<div class="row">
<div class="col-sm-12">

      <hr>

      <footer>
        <p><a href="https://github.com/ecalifornica/rdio_playlist">github</a> / <a href="https://twitter.com/ecalifornica">@ecalifornica</a></p>
      </footer>
</div>
</div>
    </div> <!-- /container -->

{% endblock %}
